.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */

    padding-bottom: 50px;
    color: #f8f8f8;
    background: url(../img/space.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/iss.jpg) no-repeat center center;
    background-size: cover;
}
.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}
.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
footer {
    background-color: #f8f8f8;
    padding: 50px 0;
}
p.copyright {
    margin: 15px 0 0;
}
#iss-stuff {
    text-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
}
.footer {
    height: auto;
    width: 100%;
    background-image: none;
    background-color: #f8f8f8;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}
.footer_contents {
    height: auto;
    width: 100%;
    margin: auto;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
