@model PocketDockUI.ViewModels.ServerPageViewModel;  

@{
    ViewData["Title"] = "Server";
}

@section Head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.5.0/css/xterm.css"/>
}

<div class="intro-header2">
    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-10 col-md-10 mx-auto intro-message2">
                <h1>Time left to server termination:</h1>
                <h1 id="counter"></h1>

                <h1>
                    Hostname/IP:
                    <span id="proxyHostname">@Model.Server.Domain:@Model.Server.ServerAssignment.GameServerPort</span>
                </h1>
                @* <h2 class="alternateIp py-2"> *@
                @*     Alternate IP: *@
                @*     @Model.Server.PublicIpAddress:@Model.Server.ServerAssignment.GameServerPort *@
                @* </h2> *@
                <h2 id="inactivemain">Inactivity: <span id="inactivetime"></span></h2>
                <hr class="intro-divider">
                <ul class="nav nav-tabs" id="serverTabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="console-tab" data-bs-toggle="tab" data-bs-target="#consoleTab" type="button" role="tab" aria-controls="consoleTab" aria-selected="true">Console</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files" type="button" role="tab" aria-controls="files" aria-selected="false">Files</button>
                  </li>
                </ul>
                <div class="tab-content" id="serverTabsContent">
                    <div class="tab-pane fade show active" id="consoleTab" role="tabpanel" width="100%" height="525px" aria-labelledby="console-tab" style="background: white; width: 100%; height: 525px">
                        <div class="d-flex justify-content-center align-items-center text-dark">
                            <div class="container" id="consoleLoading">
                                <h3>Loading...</h3>
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                        <div id="console" style="display: none">
                            <div id="term-title"></div>
                            <iframe id="consoleIframe" src="~/console/" style="width: 100%; height: 525px"></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="files" role="tabpanel" width="100%" height="525px" aria-labelledby="files-tab" style="background: white; width: 100%; height: 525px">
                        <div class="d-flex justify-content-center align-items-center text-dark">
                            <div class="container" id="filesLoading">
                                <h3>Loading...</h3>
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                        <iframe id="filesIframe" src="~/files" style="display: none; width: 100%; height: 100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- FOOTER -->
<footer class="container">
    <p>PocketDock - A community project</p>
    <p class="copyright text-muted small">Image provided by
    <a href="http://wallpoper.com/wallpaper/dark-speed-359373">WallPoper</a>
</footer>

@section Scripts {
    <script src="~/js/server.js"></script>
}